.manufacture-machines{
    background-color: #f8f9fa;
    display: flex;
    padding: 25px;
    gap: 20px;
    margin-top:20px;
}
.manufacture-machines p{
  text-align: justify;
}

.manufacture-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    color: #088BEA;
    background-color: #fff;
}

/* 991 */

@media screen and (max-width:991px) {
  .manufacture-machines{
    flex-wrap: wrap;
    justify-content: center;
  }
}