
.slide{
    height: 150px;
    width: 200px;
    display: grid;
    place-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide img{
    height: 100%;
    width:100%;
    transition: transform 1s;
}
.image-slider{
    display: grid;
    place-items: center;

    position: relative;

    overflow: hidden;
    height: 250px;  
    width:100%;   /*WIDTH ADJACEMENT*/
}
.image-slider-track{
    display: flex;
    width:calc(200px*15);
    animation: play 30s linear infinite;
}

@keyframes play{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(calc(-250px*6));
    }
}

.image-slider::before,
.image-slider::after{
    background: linear-gradient(to right,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    width: 15%;
    z-index: 2;
    position: absolute;

    }

    .image-slider::before{
        left:0;
        top:0;
    }

    .image-slider::after{
        right:0;
        top:0;
        background: linear-gradient(to left,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);

    }

    img:hover{
        transform: translateZ(20px);
    }
    .bordering{
        border: 1px solid #DBDBDB;
    }
.product-items{
    height:500px;
    padding-top:34px;
}