.product-facility {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.facility-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 400px;
    margin-top: 25px;
    height: 230px;
    gap: 14px;
    justify-content: center;
    background-color: #fff;
    text-align: justify;
}


.facility-product img {
    width: 80%;
    height: 80%;
}
.facility-product p{
    padding: 0px 10px ;
}

#fourthimg{
    width: 40%;
    height: 63%;
}
#heightGauge{
    width: 70%;
    height: 80%;
}
#magneticStand{
    width: 60%;
}
#imagesarange {
    width: 48%;
    height: 72%;
}
#thirdimg{
    height: 60%;
    width: 80%;
}

.certificate-images{
    display: flex;
    gap: 35px;
    margin:35px 0px;
    align-items: center;
    justify-content: center;
}
.certificate-images :last-child{
    border: 1px solid #e2e1e1;
}

@media only screen and (max-width:412px) {
    h3{
        font-size:18px;
    }
}


